<!DOCTYPE html>
<html>
    <head>
        <title>I'm don't know what you did, but you dun borked up!</title>
        <link rel="icon" href="/images/weather.svg" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h4>Erm... Yeah, I'm don't think you're in the right place, bub.</h4>
            <p>{{message}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>